extend ./../_root

block content
   
  h1 Modal Component 
  
  p All modals windows are rendered in a hidden state. The modal must therefore
    | be #[code #rendered()] then have #[code #show()] or #[code #open()] 
    | called on it.
  
  #demo  
