// @requires bourbon

@import "./../common/variables"
@import "./../common/exports"
@import "./../common/classes"

+exports('button')

  #{$all-buttons}
    @extend %fillable
    -webkit-font-smoothing: antialiased
    border: none
    border-radius: $sc-button-radius
    padding: $sc-button-padding
    cursor: pointer
    position: relative
    overflow: hidden
    +transition(transform $sc-transition-time, color $sc-transition-time)

    &.sc-fill
      color: $sc-button-fg

      &::after
        background-color: $sc-button-bg

      &[disabled]
        cursor: default

        &::after
          background-color: $sc-button-disabled-bg !important


  #{$all-buttons-focus}
    &.sc-fill::after
      background-color: $sc-button-focus-bg


  #{$all-buttons-hover}
    &.sc-fill::after
      background-color: $sc-button-hover-bg


  #{$all-buttons-active}
    &:not([disabled])
      +transform(scale(0.97))

      &.sc-fill::after
        background-color: $sc-button-active-bg
